<config>
    <myself>
        <host>151.75.54.217</host>
        <port>1099</port>
        <name>Lele.local</name>
    </myself>
    <outgoing>
        <conn>
            <host>93.71.52.139</host>
            <port>1099</port>
            <name>Gian</name>
        </conn>
    </outgoing>
    <incoming>
        <conn>
            <host>93.71.52.139</host>
            <port>1099</port>
            <name>Gian</name>
        </conn>
    </incoming>
</config>