<config>
    <myself>
        <host>5.89.125.34</host>
        <port>1099</port>
        <name>Vince</name>
    </myself>
    <outgoing>
        <conn>
            <host>93.71.52.139</host>
            <port>1099</port>
            <name>GianOut</name>
        </conn>
    </outgoing>
    <incoming>
        <conn>
            <host>151.75.54.217</host>
            <port>1099</port>
            <name>LeleIn</name>
        </conn>
    </incoming>
</config>